#title{
  color: #111;
  padding-top: 4rem;
}
body{
  background-image: url("sakura.png");
}
a{
  text-decoration: none;
}

h3{
  padding-left: 2rem;
}

li{
  padding: 0 2px 2px;
  
}

.navbar{
  position: fixed;
  width: 100%;
}
